script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
link(rel='stylesheet', href='/less/bootstrap.css')
//link(rel='stylesheet', href='/css/bootstrap.css')
//link(rel='stylesheet', href='/css/bootstrap-responsive.css')