script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
script(src='/js/jquery.lightbox-0.5.pack.js')
script(src='/js/jquery.wookmark.min.js')
link(rel='stylesheet', href='/less/bootstrap.css')
link(rel='stylesheet', href='/css/jquery.lightbox-0.5.css')
