.row.howtoRow
  .span12
   .hero-unit
    h1 Hi! I'm Arvid.
    p 
     | You can 
     a(href="mailto:mail@arvidkahl.de")="mail"
     |,
     a(href="http://www.facebook.com/arvid.kahl")="facebook"
     |,
     a(href="http://www.twitter.com/arvidkahldev")="twitter"
     |  or 
     a(href="http://www.arvidkahl.de/")="web"
     |  me up.