.row
  div.span12
    .hero-unit
      h1 Ignite your imagination. 
      p Let fantastic concept art inspire you. Share your stories with other imagineers. 
      p
        a.btn.btn-primary(href="/howto") Show me how it works! »
        | 
        a.btn(href="/random") Take me to a scene already! »
  div.span4
    .well 
      h2 Check!
  div.span4
    .well
      h2 These!
  div.span4
    .well
      h2 Out!