div.span10
  a.btn.btn-large.btn-primary(href="test") View Stories 
  a.btn.btn-large(href="moo") Add Story
  - each article in articles
    .article.well
      h1= article.title
      div.created #{(new Date(article.created_at)).toGMTString()}
      div.image
        img(src=article.url) 
      a.btn.btn-large.btn-primary(href="test") View Stories 
      a.btn.btn-large(href="moo") Add Story 
div.span2
  .well
    h3 Secondary content