div.span12
  .well 
    h1 Hi! Spark wants to ignite your imagination. 
    p Let fantastic concept art inspire you. Share your stories with other imagineers. Add new images to the library.
  - each article in articles
    .article.well
      h3= article.title
      div.created #{(new Date(article.created_at)).toGMTString()}
      a(href='/'+article._id)
          div.image
          img(src=article.url, alt=article.body) 
      div
        a.btn(href="test") View Stories 
        | 
        a.btn.btn-primary(href= article._id ) Add Story 