div.span12
  - each article in articles
    .article.well
      h1= article.title
      div.created #{(new Date(article.created_at)).toGMTString()}
      a(href='/'+article._id)
          div.image
          img(src=article.url, alt=article.body) 
      div
        a.btn(href="test") View Stories 
        | 
        a.btn.btn-primary(href= article._id ) Add Story 