div.span10
    - each article in articles
      .article.well
        h1= article.title
        div.created= article.created_at
        div.image
          img(src=article.url)
        div.body= article.body
div.span2
  h3 Secondary content