// UTILITY CLASSES
// ---------------

// Quick floats
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}

// Toggling content
.hide {
  display: none;
}
.show {
  display: block;
}

// Visibility
.invisible {
  visibility: hidden;
}

body {
  padding-top: 60px;
}

h1 {
  color:@linkColor;
}

.sceneTitle {
  margin-top: -5px;
  margin-bottom: 10px;
}



